body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

h4 {

  text-align: center;
  color: steelblue;
  
  }

.login-container {
  max-width: 300px;
  margin: auto; margin-top: 65px; margin-bottom: 65px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}


h2 {
  text-align: center;
  margin-bottom: 20px;
}

p{
    text-align: center; font-size: small;
}
input[type="text"], input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid brown;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  background-color: steelblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: grey;
}
